jupyterlab
#airllm
beautifulsoup4
crewai
crewai_tools
#folium
#fpdf
#geopy==2.4.1
#gradio
#gradio_calendar==0.0.4
httpx
langchain
langchain_community
langchain_core
langchain_google_genai
langchain_groq
langchain_openai
llama_index
#openai==1.35.3
opencv_python
pandas
#panel==1.4.4
Pillow
#pycountry==24.6.1
python-dotenv
streamlit
streamlit_chat
torch
torchvision
Unidecode
unstructured==0.14.8
#wikipedia==1.4.0
